
.lema {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-align: left;
    display: block;
}
/*.titulo:hover{

}
*/

body{
    margin: 0;
}
.sticky {
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    background-color: rgb(255, 255, 255);
    top: 0;
}

.menu a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: 800;
    line-height: 2rem;
    padding-right: 50px;
}
.menu a:hover {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

a.actual {
    color: rgb(189, 55, 0);
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}

form {
    font-family: 'Raleway', sans-serif;
}

figcaption {
    font-family: 'Raleway', sans-serif;
    padding: 20px 0px 20px 0px;
    text-align: left;
}

.bold {
    font-weight: bold;
}

#fotofondo {
    background-image: url("/img/bg-hero-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    font-size: 3rem;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

#articulos{
    text-align: left;
}

#articulos article{
    background-color: rgb(255, 255, 255);
}

.imagenlateral {
    width: 400px;
}

#videos {
    text-align: center;
    padding-top: 20px;
}
section{
    background-color: rgb(238, 238, 238);
}

#formulario {
    background-color: rgb(242, 232, 228);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

#formulario h2{
    text-align: center;
    margin-top: 0px;
}

#formulario p {
    max-width: 400px;
    margin: 0;
    align-items: center;
    font-size: 0.7rem;
}

#formulario form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

#formulario input {
    padding: 10px;
}

button {
    background-color: rgb(189, 55, 0);
    color: rgb(255, 255, 255);
    padding:10px;
    border-style: none;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.video figcaption{
    background-color: rgb(255, 255, 255);
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.link {
    text-decoration: none;
    border-bottom-style: dotted;
    border-width: 1px;
    color: rgb(189, 55, 0);
}

.linktitle {
    text-decoration: none;
    color: rgb(189, 55, 0);
}

.linktitle:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

abbr {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.2rem;
}

footer ul {
    display: flex;
    gap: 10px;
}

footer nav{
    padding: 60px 0px 20px 0px;
}
footer p {
    margin: 0;
    padding-bottom: 40px;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.iconos {
    display: flex;
    align-items: left;
    padding-top: 20px;
}

.iconos a:hover {
    opacity: 0.7;
}

footer a:hover {
    color: rgb(189, 55, 0); 
}

.padding {
    padding-left: 25%;
    padding-right: 25%;
}

.padding h2{
    text-align: center;
}

.flexbox {
    display:flex;
    flex-wrap: wrap;
    gap: 40px;
}

.flexbox article {
   flex: 1;
   min-width: 200px;
}

.flexbox img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media (max-width: 1200px) {
    .lema {
        text-align: center;
    }

    .titulo {
        text-align: center;
    }

    .menu {
        flex-direction: column;
        text-align: center;
    }
    body {
        padding: 0;
    }
    .menu a {
        padding: 0px 0px 0px 0px;
    }

    #fotofondo {
        font-size: 2rem;
    }
    .padding {
        padding: 0px 10px 0px 10px;
    }
}