
.lema {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-align: left;
    display: block;
}
.titulo:hover{
    color: rgb(189, 55, 0);
}


body{
    margin: 0;
}
.sticky {
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    background-color: rgb(255, 255, 255);
    top: 0;
}

.menu a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 800;
    line-height: 2rem;
    padding-right: 50px;
}
.menu a:hover {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

.menu li {
    list-style: none;
}

a.actual {
    color: rgb(189, 55, 0);
}

h1 {
    font-family: 'Raleway', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
}

cite {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}

ol {
    font-family: 'Raleway', sans-serif;
}

ol li {
    padding-bottom: 20px;
}

form {
    font-family: 'Raleway', sans-serif;
}

figcaption {
    font-family: 'Raleway', sans-serif;
    padding: 20px 0px 20px 0px;
    text-align: left;
    font-size: 0.8rem;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#fotofondo {
    background-image: url("/img/bg-hero-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    font-size: 3rem;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.textoprinc p{
    font-size: 1.3rem;
    line-height: 1.9rem;
}

#articulos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

#articulos h2{
    text-align: left;
    margin-top: 0;
}

#articulos article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
    text-align: justify;
    padding: 30px;
    border-radius: 10px;
    gap: 30px;
    font-size: 1.2rem;
}
#articulos article:nth-child(1) {
    
}

#articulos article:nth-child(2) {
    position: relative;
    left: 10%;
}

#articulos article:nth-child(3) {
    position: relative;
    right: 10%;
}

#articulos article:nth-child(4) {
    position: relative;
    left: 10%;
}

#articulos article:nth-child(5) {
    position: relative;
    right: 10%;
}

#articulos img {
    max-width: 350px;
    max-height: 300px;

}

#articulos p {
    max-width: 300px;
    font-size: 1rem;
}

.imagenlateral {
    width: 400px;
}

.titulos {
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}
#videos figure {
    flex: 1;
}

#videos iframe {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 250px;
}

section{
    background-color: rgb(238, 238, 238);
}

#formulario {
    background-color: rgb(242, 232, 228);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

#formulario h2{
    text-align: center;
    margin-top: 0px;
}

#formulario p {
    max-width: 400px;
    margin: 0;
    align-items: center;
}
form{
    font-size: 1rem;
    font-size: 0.7rem;
}

#formulario form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

#formulario input {
    padding: 10px;
}

button {
    background-color: rgb(189, 55, 0);
    color: rgb(255, 255, 255);
    padding:10px;
    border-style: none;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.video {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.menufooter li {
    padding-right: 30px;
}

footer li:first-child {
    list-style: none;
}

.iconos li {
    list-style: none;
}

ul {
    padding: 0;
}

.link {
    text-decoration: none;
    border-bottom-style: dotted;
    border-width: 1px;
    color: rgb(189, 55, 0);
}

.linktitle {
    text-decoration: none;
    color: rgb(189, 55, 0);
}

.linktitle:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

abbr {
    text-decoration: none;
}

#align2column {
    display: flex;
    gap: 80px;
}

#align2column article:last-child {
    text-align: justify;
}

#align2column h2 {
    text-align: left;
}

#align2column p {
    margin-top: 5px;
}

#align2column article {
    display: flex;
    flex-direction: column;
}

#align2column a {
    padding-top: 10px;
    border-bottom-style: none;
}

#align2column div{
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    padding:30px 15px 30px 15px;
    border-left: 5px solid rgb(189, 55, 0);
}

footer {
    display: flex; 
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.2rem;
}

footer ul {
    display: flex;
}

footer nav{
    padding: 40px 0px 20px 0px;
}
footer p {
    margin: 0;
    padding-bottom: 40px;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.iconos {
    display: flex;
    padding-top: 20px;
}

.iconos a:hover {
    opacity: 0.7;
}

footer a:hover {
    color: rgb(189, 55, 0); 
}

.padding {
    padding-left: 20%;
    padding-right: 20%;
}

.padding h2{
    text-align: center;
}

.flexbox {
    display:flex;
    flex-wrap: wrap;
    gap: 40px;
}

.flexbox article {
   flex: 1;
   min-width: 200px;
}

.flexbox img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media (max-width: 1200px) {
    .lema {
        text-align: center;
    }

    .titulo {
        text-align: center;
    }

    .menu {
        flex-direction: column;
        text-align: center;
    }
    body {
        padding: 0;
    }
    .menu a {
        padding: 0px 0px 0px 0px;
    }

    #fotofondo {
        font-size: 2rem;
    }
    .padding {
        padding: 0px 10px 0px 10px;
    }
    form p{
        line-height: 1rem;
    }

    li {
        list-style: none;
    }

    footer{
        align-items: center;
        text-align: center;
    }

    .menufooter li {
        padding: 0%;
    }

    .menufooter {
        flex-direction: column;
    }

    .iconos {
        justify-content: center;
    }

    #align2column {
        flex-direction: column;
        padding: 0px 10px 0px 10px;
    }

    #align2column img {
        max-width: 300px;
    }


}